pkgbase = edor
	pkgdesc = CUI text editor
	pkgver = 1.x64
	pkgrel = 1
	url = https://github.com/colin-i/edor
	arch = x86_64
	arch = aarch64
	license = 0BSD
	makedepends = ncurses
	depends = ncurses
	source = git+http://github.com/colin-i/edor.git#tag=1-x63
	sha256sums = SKIP

pkgname = edor
