pkgbase = edor
	pkgdesc = CUI text editor
	pkgver = 1.x69
	pkgrel = 1
	url = https://github.com/colin-i/edor
	arch = any
	license = 0BSD
	makedepends = ncurses
	makedepends = bc
	depends = ncurses
	source = git+http://github.com/colin-i/edor.git#tag=1-x69
	sha256sums = SKIP

pkgname = edor
