pkgbase = edor
	pkgdesc = CUI text editor
	pkgver = 1.72
	pkgrel = 0
	url = https://github.com/colin-i/edor
	arch = any
	license = 0BSD
	makedepends = ncurses
	makedepends = bc
	depends = ncurses
	source = edor-1.72-0.tar.gz::https://github.com/colin-i/edor/archive/edor-1.72-0.tar.gz
	sha256sums = f90108764ab8eec3d76c7ab7521e0c9c9b3a1d0889cb3184dea8f380cec7a0da

pkgname = edor
