pkgbase = actionswf
	pkgdesc = Action Swf library
	pkgver = 1.138
	pkgrel = 1
	url = https://github.com/colin-i/actionswf
	arch = x86_64
	license = 0BSD
	makedepends = lib32-glibc
	makedepends = bc
	makedepends = ocompiler>=1.5+226
	makedepends = ffdec-bin
	depends = lib32-glibc
	depends = bc
	depends = ffdec-bin
	source = actionswf-1-138.tar.gz::https://github.com/colin-i/actionswf/archive/1-138.tar.gz
	sha256sums = e8c95328f9f72bda01fed5ac4f8dc3177bbe9269a58383a20c1a28d8783626c8

pkgname = actionswf
