pkgbase = actionswf
	pkgdesc = Action Swf library
	pkgver = 1.142
	pkgrel = 1
	url = https://github.com/colin-i/actionswf
	arch = x86_64
	license = 0BSD
	makedepends = lib32-glibc
	makedepends = bc
	makedepends = ocompiler>=1.5+226
	makedepends = ffdec-bin
	depends = lib32-glibc
	depends = bc
	depends = ffdec-bin
	source = actionswf-1-142.tar.gz::https://github.com/colin-i/actionswf/archive/1-142.tar.gz
	sha256sums = 176537f9cd1c23874d18dcb11e10eaea4242b4371038d689f801d1bb9735a515

pkgname = actionswf
